server {
        listen {{ nginxPortNumber }} default_server;
        root /var/www/site1/; 
        index index.html;
	server_name {{ inventory_hostname }};
        location / {
                try_files $uri $uri/ =404;
        }
}
